{% extends "base.html" %}

{% block title %}FAQ по игре Aniwind{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        background: url("https://s3.timeweb.cloud/210a85b8-2790aa0e-77e8-4b85-92e6-2676c2ee4708/ui/inventory.png") no-repeat center center fixed;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        width: 100%;
        max-width: 1200px;
        height: 100vh;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        overflow-y: auto;
        color: white;
    }
    h1, h2, h3 {
        text-align: center;
        margin-bottom: 20px;
        color: #ffdd57;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
        margin-top: 20px;
    }
    .quest-section {
        margin-top: 20px;
    }
    .quest {
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 20px;
        border: 2px solid #ffdd57;
        border-radius: 10px;
        background: linear-gradient(145deg, #2a2a2a, #1e1e1e);
        color: #ffdd57;
    }
    .quest img {
        display: block;
        margin: 10px auto;
    }
    .quest p {
        text-align: center;
        margin: 10px 0;
        color: bisque;
    }
    .queue-button {
        width: 100%;
        font-size: 1.2em;
        padding: 10px;
        margin-top: 10px;
        background: linear-gradient(145deg, #2a2a2a, #1e1e1e);
        border: 2px solid #ffdd57;
        color: #ffdd57;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.3s ease;
        border-radius: 5px;
    }
    .queue-button:hover {
        background-color: #ffcc00;
        transform: scale(1.05);
    }
    .pb {
        background: linear-gradient(145deg, #2a2a2a, #1e1e1e);
        color: #ffdd57;
    }
    .messages {
        position: fixed;
        text-align: center;
        z-index: 1050;
        width: 100%;
        top: 0;
    }

    .alert {
        opacity: 0.9;
        margin-bottom: 5px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        transition: opacity 0.5s linear;
    }

    .success {
        background-color: #d4edda;
        color: #155724;
        border-color: #c3e6cb;
    }

    .error {
        background-color: #f8d7da;
        color: #721c24;
        border-color: #f5c6cb;
    }

    .warning {
        background-color: #fff3cd;
        color: #856404;
        border-color: #ffeeba;
    }
</style>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="{% if message.tags %}alert {{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="container">
    <h2>Лабарабория заданий</h2>
    <div class="quest-section">
        <h3>Ежедневное испытание</h3>
        <form id="resetDeckForm" method="POST" action="{% url 'take_daily_quest' %}">
            {% csrf_token %}
            <button type="submit" class="queue-button">Получить испытание</button>
        </form>
        <div class="quest">
            {% if daily %}
                <p><b>Испытание "{{ daily.quest.name }}"</b><br><i>{{ daily.quest.description }}</i><br></p>
                {% if daily.quest.item %}
                <p>Награда: <b>{{ daily.quest.coins }}</b> аникоинов<br>Предмет: {{ daily.quest.item }}</p>
                <img src="{{ daily.quest.item.url}}" width="100px" height="100px">
                <p><b>Прогресс {{ daily.progress }}/{{ daily.quest.end_point }}</b></p>
                {% else %}
                <p>Награда: <b>{{ daily.quest.coins }}</b> аникоинов</p>
                <p><b>Прогресс {{ daily.progress }}/{{ daily.quest.end_point }}</b></p>
                {% endif %}
                <form id="resetDeckForm" method="POST" action="{% url 'complete_quest' id=daily.id %}">
                    {% csrf_token %}
                    <button type="submit" class="queue-button">Сдать</button>
                </form>
            {% else %}
            <p>Нет активных испытаний</p>
            {% endif %}
        </div>


        <h3>Квесты</h3>
        <form id="resetDeckForm" method="POST" action="{% url 'take_quest' %}">
            {% csrf_token %}
            <button type="submit" class="queue-button">Получить квесты</button>
        </form>
        {% if quests %}
            {% for quest in quests %}
            <div class="quest">
                <p><b>Квест "{{ quest.quest.name }}"</b><br><i>{{ quest.quest.description }}</i><br></p>
                {% if quest.quest.item %}
                <p>Награда: <b>{{ quest.quest.coins }}</b> аникоинов<br>Предмет: {{ quest.quest.item }}</p>
                <img src="{{ quest.quest.item.url}}" width="100px" height="100px">
                <p><b>Прогресс {{ quest.progress }}/{{ quest.quest.end_point }}</b></p>
                {% else %}
                <p>Награда: <b>{{ quest.quest.coins }}</b> аникоинов</p>
                <p><b>Прогресс {{ quest.progress }}/{{ quest.quest.end_point }}</b></p>
                {% endif %}
                <form id="resetDeckForm" method="POST" action="{% url 'complete_quest' id=quest.id %}">
                    {% csrf_token %}
                    <button type="submit" class="queue-button">Сдать</button>
                </form>
            </div>
            {% endfor %}
        {% else %}
            <div class="quest">
                <p>Нет активных квестов</p>
            </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        // Находим все элементы с классом alert
        const alerts = document.querySelectorAll('.alert');
        // Задаем таймер для каждого сообщения
        alerts.forEach(function(alert) {
            setTimeout(function() {
                // Плавно уменьшаем прозрачность, затем удаляем элемент
                alert.style.opacity = '0';
                setTimeout(function() {
                    alert.remove();
                }, 600); // Синхронизируем это с transition в CSS
            }, 5000); // Исчезновение сообщений через 5 секунд
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
