{% extends "base.html" %}

{% block title %}Рейтинг{% endblock %}

{% block content %}
<style>
    body {
        background: url("https://s3.timeweb.cloud/210a85b8-2790aa0e-77e8-4b85-92e6-2676c2ee4708/ui/rating.png") no-repeat center center fixed;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<h2 style="color: #ffdd57">Coming soon..</h2>
{% endblock %}